ENV=DEVELOPMENT # change this environment to PRODUCTION while deploying
PORT=8000
JWT_SECRET=your secrete key
DATABASE_URL=postgresql://username:password@localhost:5432/primeLogicFreelanceDB?schema=public
